@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true
$base-white: #F9F8F3
$base-black: #2F2F2F
$accent: #07C3B4
$grey: #EFEFEF
$dark-blue: #00243C

.header
    background: $dark-blue

.main-screen
    padding-top: 139px
    &__logo
        width: 190px
        height: 70px
        background: $base-white
        margin-bottom: 75px

.menu__item
    padding-right: 63px
    color: $base-white
    font-size: 24px
    transition: all 0.3s ease
    font-weight: 700
    text-transform: uppercase
    &:nth-child(4)
        padding-right: 0
    &:hover
        text-decoration: none
        color: grey

.offer
    padding-top: 132px
    margin-bottom: 140px
    &__title
        font-size: 94px
        text-transform: uppercase
        color: $base-white
        margin-bottom: 73px
        font-weight: 700
        text-align: center
    &__text
        color: $base-white
        text-align: center
        font-size: 24px
        margin-bottom: 140px
        &:before
            content: ''
            display: block
            background: $base-white
            width: 174px
            height: 1px
            position: absolute
            margin-top: 12px
            margin-left: 220px
        &:after
            content: ''
            display: block
            background: $base-white
            width: 174px
            height: 1px
            position: absolute
            margin-top: -12px
            margin-left: 715px
    &__btn
        width: 400px
        height: 80px
        color: $base-white
        background: $accent
        border-radius: 70px
        text-transform: uppercase
        font-weight: 700
        display: block
        text-align: center
        padding-top: 27px
        font-size: 25px
        margin: 0 auto
        margin-bottom: 205px

.advantages
    padding-top: 95px
    text-align: center
    background: $grey
    &__img
        height: 70px
        width: 70px
        background: $base-black
        border-radius: 50%
        margin: 0 auto
    &__title
        margin: 52px 0px 45px 0px
        font-size: 26px
        font-weight: 700
        &:after
            content: ''
            display: block
            background: grey
            width: 174px
            height: 2px
            margin-left: 84px
            margin-top: 34px

    &__text
        font-size: 18px
        color: grey
        margin-bottom: 115px


.articles
    padding-top: 95px
    text-align: center
    &__img
        height: 282px
        width: 445px
        background: $base-black
        margin: 0 auto
    &__title
        margin: 52px 0px 45px 0px
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        &:after
            content: ''
            display: block
            background: grey
            width: 434px
            height: 2px
            margin-left: 52px
            margin-top: 34px

    &__text
        // ZALUPA EBANAYA
        font-size: 18px
        color: grey

    &__btn
        width: 165px
        height: 60px
        color: $base-white
        background: $accent
        border-radius: 70px
        display: block
        font-size: 25px
        margin: 60px 0px 132px 47px
        text-align: center
        padding-top: 17px


.info
    padding-top: 95px
    background: $grey
    &__title
        margin: 52px 0px 45px 55px
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        &:before
            content: ''
            display: block
            background: grey
            width: 40px
            height: 40px
            border-radius: 50%
            position: absolute
            margin-top: -7px
            margin-left: -55px
        &:after
            content: ''
            display: block
            background: grey
            width: 800px
            height: 2px
            margin-left: -55px
            margin-top: 34px

    &__text
        // ZALUPA EBANAYA
        font-size: 18px
        color: grey

    &__btn
        width: 165px
        height: 60px
        color: $base-white
        background: #D2D5DA
        border-radius: 70px
        display: block
        font-size: 25px
        margin: 60px 0px 110px -15px
        text-align: center
        padding-top: 17px

.products
    padding-top: 95px
    padding-bottom: 120px
    &__img
        height: 235px
        width: 308px
        background: $base-black
    &__title
        font-size: 26px
        font-weight: 700
        padding-top: 68px
        text-transform: uppercase
        &:after
            content: ''
            display: block
            background: grey
            width: 308px
            height: 2px
            margin-top: 34px

    &__text
        font-size: 18px
        color: grey
        margin-bottom: 55px
        margin-top: 45px
    &__link
        color: $accent
        transition: all 0.5s ease

        &:hover
            text-decoration: none
            color: green

.more-info
    padding-top: 95px
    background: $grey
    &__title
        margin: 52px 0px 45px 55px
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        &:before
            content: ''
            display: block
            background: grey
            width: 40px
            height: 40px
            border-radius: 50%
            position: absolute
            margin-top: -7px
            margin-left: -55px
        &:after
            content: ''
            display: block
            background: grey
            width: 450px
            height: 2px
            margin-left: -55px
            margin-top: 34px
    &__text
        // ZALUPA EBANAYA
        font-size: 18px
        color: grey
        width: 450px
    &__btn
        width: 165px
        height: 60px
        color: $base-white
        background: $accent
        border-radius: 70px
        display: block
        font-size: 25px
        margin: 60px 0px 110px -15px
        text-align: center
        padding-top: 17px

.final-info
    padding-top: 95px
    &__title
        margin: 52px 0px 45px 0px
        font-size: 26px
        font-weight: 700
        text-transform: uppercase
        &:after
            content: ''
            display: block
            background: grey
            width: 450px
            height: 2px
            margin-top: 34px
    &__text
        // ZALUPA EBANAYA
        font-size: 18px
        color: grey
        width: 450px

    &__btn
        width: 165px
        height: 60px
        color: $base-white
        background: #D2D5DA
        border-radius: 70px
        display: block
        font-size: 25px
        margin: 60px 0px 110px -15px
        text-align: center
        padding-top: 17px

    &__img
        height: 350px
        width: 450px
        background: $base-black




